# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
venv/
.venv/
env/

# Streamlit
.streamlit/

# Cache de yfinance
.cache/

# Entornos virtuales
.env
.venv
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Otros
*.log
.pytest_cache/
.mypy_cache/
